mixin testimonial(data)
    section.testimonial
        .container.testimonial__container
            +title("testimonial", "testimonial__title")
            ul.testimonial__slider.owl-carousel#slider
                li.testimonial__slider-item
                    .testimonial__img-wrap
                        picture
                            source(srcset="../assets/img/testimonial-ava1.webp", type="image/webp")
                            img.testimonial__img(src="../assets/img/testimonial-ava1.jpg", alt="")
                    +title("John Doe", "title_theme_card testimonial__slider-title")
                    +text("Ut posuere vitae nisi vitae tempor. Nullam eget congue enim. Donec porttitor dolor id dui posuere, tempus sagittis dolor posuere. Quisque euismod elit eget tellus tempus, id porta lacus tincidunt. Nam vehicula imperdiet magna, Vestibulum congue neque risus, eget dapibus elit laoreet nec.", "testimonial__slider-text")
                li.testimonial__slider-item
                    .testimonial__img-wrap
                        picture
                            source(srcset="../assets/img/testimonial-ava1.webp", type="image/webp")
                            img.testimonial__img(src="../assets/img/testimonial-ava1.jpg", alt="")
                    +title("John Doe", "title_theme_card testimonial__slider-title")
                    +text("Ut posuere vitae nisi vitae tempor. Nullam eget congue enim. Donec porttitor dolor id dui posuere, tempus sagittis dolor posuere. Quisque euismod elit eget tellus tempus, id porta lacus tincidunt. Nam vehicula imperdiet magna, Vestibulum congue neque risus, eget dapibus elit laoreet nec.", "testimonial__slider-text")
                li.testimonial__slider-item
                    .testimonial__img-wrap
                        picture
                            source(srcset="../assets/img/testimonial-ava1.webp", type="image/webp")
                            img.testimonial__img(src="../assets/img/testimonial-ava1.jpg", alt="")
                    +title("John Doe", "title_theme_card testimonial__slider-title")
                    +text("Ut posuere vitae nisi vitae tempor. Nullam eget congue enim. Donec porttitor dolor id dui posuere, tempus sagittis dolor posuere. Quisque euismod elit eget tellus tempus, id porta lacus tincidunt. Nam vehicula imperdiet magna, Vestibulum congue neque risus, eget dapibus elit laoreet nec.", "testimonial__slider-text")
                li.testimonial__slider-item
                    .testimonial__img-wrap
                        picture
                            source(srcset="../assets/img/testimonial-ava1.webp", type="image/webp")
                            img.testimonial__img(src="../assets/img/testimonial-ava1.jpg", alt="")
                    +title("John Doe", "title_theme_card testimonial__slider-title")
                    +text("Ut posuere vitae nisi vitae tempor. Nullam eget congue enim. Donec porttitor dolor id dui posuere, tempus sagittis dolor posuere. Quisque euismod elit eget tellus tempus, id porta lacus tincidunt. Nam vehicula imperdiet magna, Vestibulum congue neque risus, eget dapibus elit laoreet nec.", "testimonial__slider-text")
                li.testimonial__slider-item
                    .testimonial__img-wrap
                        picture
                            source(srcset="../assets/img/testimonial-ava1.webp", type="image/webp")
                            img.testimonial__img(src="../assets/img/testimonial-ava1.jpg", alt="")
                    +title("John Doe", "title_theme_card testimonial__slider-title")
                    +text("Ut posuere vitae nisi vitae tempor. Nullam eget congue enim. Donec porttitor dolor id dui posuere, tempus sagittis dolor posuere. Quisque euismod elit eget tellus tempus, id porta lacus tincidunt. Nam vehicula imperdiet magna, Vestibulum congue neque risus, eget dapibus elit laoreet nec.", "testimonial__slider-text")
