:root
    --c-brand: #d5423a
    --c-dark-0: #000
    --c-dark-1: #231f20
    --c-dark-2: #333
    --c-dark-3: #525151
    --c-dark-4: #686868
    --c-dark-5: #f6f6f8
    --c-light: #fff

    --gutters: 10px