mixin about-us(data)
    section.about-us#about.wow.fadeInLeft(data-wow-offset="300")
        .about-us__container.container
            +title("who we are", "about-us__title")
            +text("We are an organization, which provide opportunity to carry out a dream to visit some place on the nature. We carry out tours to places that are safe for tourism and provide full control over the course of the expedition in the person of experienced nature researchers. You can simply to enjoy the process :)", "about-us__text text_bigger")
