mixin hero(data)
    section.hero
        .hero__container.container
            nav.hero__nav
                a.hero__link(href="#") Home                        
                a.hero__link(href="#") About
                a.hero__link(href="#") Our Tours
                +logo("hero__logo", "../assets/img/logo.png", "a")(href="#123") 
                    source(srcset="../assets/img/logo.svg", type="image/svg+xml")
                a.hero__link(href="#") testimonial
                a.hero__link(href="#") Events
                a.hero__link(href="#") Contact
            input.hidden-field.hero__hidden-field(type="checkbox" id="hero-hidden-field")
            label.hero__field-toggle(for="hero-hidden-field"): i.hero__field-icon.icon-chevron-left
            nav.hero__mobile-nav
                a.hero__link.hero__link_mobile(href="#") Home                        
                a.hero__link.hero__link_mobile(href="#") About
                a.hero__link.hero__link_mobile(href="#") Our Tours
                a.hero__link.hero__link_mobile(href="#") testimonial
                a.hero__link.hero__link_mobile(href="#") Events
                a.hero__link.hero__link_mobile(href="#") Contact
            .hero__content
                h1.hero__title
                    span.hero__title-mark life's 
                    | a climb but the view is 
                    span.hero__title-mark great
                +btn("let's go together")(href="#")