//- block need for source tag

mixin logo(className, path, tag="img")
    case tag
        when "img"
            .logo(class = className)
                picture
                    block
                    img.logo__img(src = path, alt="logo")
        when "a"
            a.logo(class = className, href=attributes.href)
                picture
                    block
                    img.logo__img(src = path, alt="logo")