mixin tours(data)
    section.tours
        .tours__container.container
            .tours__title-block
                +section-title("our tour", "tours__title")
                +text("Mauris quam mauris, elementum et condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem.", "tours__text")