mixin tours(data)
    section.tours#tours
        .tours__container.container
            .tours__title-block
                +title("our tour", "tours__title")
                +text("Mauris quam mauris, elementum et condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem.", "tours__text text_bigger")
            ul.tours__list
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/hiking-man.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/hiking-man.png", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/mountain.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/mountain.png", alt="")
                    +title("Advanture", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/bicycle.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/bicycle.png", alt="")
                    +title("biketour", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/car.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/car.png", alt="")
                    +title("offroad", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris, lorem condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/motorbike.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/motorbike.png", alt="")
                    +title("Motobite", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    .tours__icon-wrap
                        picture
                            source(srcset="../assets/img/icons/pack.svg", type="image/svg+xml")
                            img.tours__icon(src="../assets/img/icons/pack.png", alt="")
                    +title("essential", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
