mixin tours(data)
    section.tours
        .tours__container.container
            .tours__title-block
                +title("our tour", "tours__title")
                +text("Mauris quam mauris, elementum et condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem.", "tours__text")
            ul.tours__list
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/hiking-man.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/mountain.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/bicycle.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/car.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris, lorem condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/motorbike.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
                li.tours__item
                    img.tours__icon(src="../../assets/img/icons/pack.svg", alt="")
                    +title("Hiking", "title_theme_card tours__item-title")
                    +text("Mauris quam mauris,  condimentum feugiat, sollicitudin eget leo. Mauris vel sagittis sem, eu ultricies ligula.", "tours__item-text")
