//- blocks
include ../_b-logo/_logo.pug
include ../_b-btn/_btn.pug

//- parts
include ../_hero/_hero.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hiking
        style
            include ../../css/style.css
    body
        .wrapper
            block content