mixin events(data)
    section.events
        .events__container.container
            +title("EVENTS", "title_color_white events__title")
            ul.events__cards
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img1.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img1.jpg", alt="")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        button.events__btn
                            i.events__btn-icon.icon-plus
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img2.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img2.jpg", alt="")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        button.events__btn
                            i.events__btn-icon.icon-plus
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img3.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img3.jpg", alt="")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        button.events__btn
                            i.events__btn-icon.icon-plus
