mixin events(data)
    section.events#events
        .events__container.container
            .events__title-wrap.wow.fadeInLeft(data-wow-offset="300")
                +title("EVENTS", "title_color_white events__title")
            ul.events__cards.wow.fadeInLeft(data-wow-offset="300")
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img1.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img1.jpg", alt="black car")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        a.events__btn(href="#events__card-modal-1")
                            i.events__btn-icon.icon-plus
                    .events__card-modal.mfp-hide#events__card-modal-1
                        .events__modal-img-wrap
                            picture
                                source(srcset="../assets/img/events-card-img1.webp", type="image/webp")
                                img.events__modal-img(src="../assets/img/events-card-img1.jpg", alt="black car")
                        .events__modal-content
                            h2.events__modal-title Its simple title
                            p.events__modal-text.
                                Lorem ipsum dolor sit amet consb ectetur, adipisicing elit. Laudantium nemo in nostrum quisquam impedit sequi ab quo quasi omnis repudiandae, modi pariatur quidem officiis, cupiditate excepturi iure ex tenetur, doloremque nobis. Animi, minima eaque reiciendis ipsa maiores velit nulla blanditiis voluptate. Cupiditate laudantium quidem reiciendis velit sed. Voluptates ullam iure corporis quis blanditiis eligendi temporibus, repellendus distinctio animi consequatur dolore?
                            a.events__modal-dismiss(href="#"): i.icon-plus
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img2.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img2.jpg", alt="cyclist on forest background")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        a.events__btn(href="#events__card-modal-2")
                            i.events__btn-icon.icon-plus
                    .events__card-modal.mfp-hide#events__card-modal-2
                        .events__modal-img-wrap
                            picture
                                source(srcset="../assets/img/events-card-img1.webp", type="image/webp")
                                img.events__modal-img(src="../assets/img/events-card-img1.jpg", alt="black car")
                        .events__modal-content
                            h2.events__modal-title Its simple title
                            p.events__modal-text.
                                Lorem ipsum dolor sit amet consb ectetur, adipisicing elit. Laudantium nemo in nostrum quisquam impedit sequi ab quo quasi omnis repudiandae, modi pariatur quidem officiis, cupiditate excepturi iure ex tenetur, doloremque nobis. Animi, minima eaque reiciendis ipsa maiores velit nulla blanditiis voluptate. Cupiditate laudantium quidem reiciendis velit sed. Voluptates ullam iure corporis quis blanditiis eligendi temporibus, repellendus distinctio animi consequatur dolore?
                            a.events__modal-dismiss(href="#"): i.icon-plus
                li.events__card
                    .events__img-wrap
                        picture
                            source(srcset="../assets/img/events-card-img3.webp", type="image/webp")
                            img.events__img(src="../assets/img/events-card-img3.jpg", alt="car on a forest road")
                    .events__card-content
                        +title("offroad to bago yoma", "title_theme_card events__card-title")
                        ul.events__card-puncts
                            li.events__card-punct
                                i.events__card-icon.icon-calendar
                                | 15 Dec 2017 - 25 Dec 2017
                            li.events__card-punct
                                i.events__card-icon.icon-map-marker
                                | Bago Yoma Forest
                            li.events__card-punct
                                i.events__card-icon.icon-group
                                | 10 People
                        a.events__btn(href="#events__card-modal-3")
                            i.events__btn-icon.icon-plus
                    .events__card-modal.mfp-hide#events__card-modal-3
                        .events__modal-img-wrap
                            picture
                                source(srcset="../assets/img/events-card-img1.webp", type="image/webp")
                                img.events__modal-img(src="../assets/img/events-card-img1.jpg", alt="black car")
                        .events__modal-content
                            h2.events__modal-title Its simple title
                            p.events__modal-text.
                                Lorem ipsum dolor sit amet consb ectetur, adipisicing elit. Laudantium nemo in nostrum quisquam impedit sequi ab quo quasi omnis repudiandae, modi pariatur quidem officiis, cupiditate excepturi iure ex tenetur, doloremque nobis. Animi, minima eaque reiciendis ipsa maiores velit nulla blanditiis voluptate. Cupiditate laudantium quidem reiciendis velit sed. Voluptates ullam iure corporis quis blanditiis eligendi temporibus, repellendus distinctio animi consequatur dolore?
                            a.events__modal-dismiss(href="#"): i.icon-plus
