.events
    padding: 7.325rem 0 8.75rem
    /* background: url("../../assets/img/events-bg.webp") center/cover no-repeat */
    background: linear-gradient(rgba(var(--c-dark-2-tr), 0.3), rgba(var(--c-dark-2-tr), 0.3)), linear-gradient(rgba(var(--c-dark-2-tr), 0.5), rgba(var(--c-dark-2-tr), 0.5)),  linear-gradient(rgba(var(--c-dark-2-tr), 1), rgba(var(--c-dark-2-tr), 1)), url("../assets/img/events-bg.webp") center/cover no-repeat
    background-blend-mode: overlay, lighten, soft-light
    text-align: center
    $events-cards-gap: 0.875rem
    .webp &
        background: linear-gradient(rgba(var(--c-dark-2-tr), 0.3), rgba(var(--c-dark-2-tr), 0.3)), linear-gradient(rgba(var(--c-dark-2-tr), 0.5), rgba(var(--c-dark-2-tr), 0.5)),  linear-gradient(rgba(var(--c-dark-2-tr), 1), rgba(var(--c-dark-2-tr), 1)), url("../assets/img/events-bg.webp") center/cover no-repeat
    .no-webp &
        background: linear-gradient(rgba(var(--c-dark-2-tr), 0.3), rgba(var(--c-dark-2-tr), 0.3)), linear-gradient(rgba(var(--c-dark-2-tr), 0.5), rgba(var(--c-dark-2-tr), 0.5)),  linear-gradient(rgba(var(--c-dark-2-tr), 1), rgba(var(--c-dark-2-tr), 1)), url("../assets/img/events-bg.jpg") center/cover no-repeat
    &__container
        max-width: 73.125rem
    &__title
        margin-bottom: 4.6rem
    &__cards
        margin: 0
        padding: 0
        margin: 0 (-$events-cards-gap)
        +flex($jc: null, $ai: null, $dir: null, $wrap: wrap, $disp: flex)
    &__card
        margin: 0 $events-cards-gap
        flex: 0 0 calc(33.333% - #{$events-cards-gap * 2})
        color: var(--c-light)
        +media(1120px)
            margin-bottom: $events-cards-gap * 2
            flex-basis: calc(50% - #{$events-cards-gap * 2})
            &:last-child
                margin-bottom: 0
        +media(740px)
            flex-basis: calc(100% - #{$events-cards-gap * 2})
    &__img-wrap
        height: 18.75rem
    &__img
        +img-cover
    &__card-content
        position: relative
        text-align-last: left
        padding: 2.1875rem 2.5rem 1.15rem
        background: #{'rgba(var(--c-dark-0-tr), 0.8)'}
        overflow: hidden
    &__card-title
        margin-bottom: 1.2625rem
    &__card-punct
        +flex($jc: null, $ai: center, $dir: null, $wrap: null, $disp: flex)
        margin-bottom: 0.625rem
        font-family: "Source Sans Pro"
    &__card-icon
        margin-right: 0.625rem
    .icon-calendar
        font-size: 0.8375rem
    .icon-map-marker
        font-size: 0.925rem
    .icon-group
        font-size: 0.875rem
    &__btn
        position: absolute
        +flex($jc: center, $ai: center, $dir: null, $wrap: null, $disp: flex)
        right: 0
        bottom: 0
        transform: translate(42.5%, 40%)
        width: 5.4375rem
        height: 5.4375rem
        border: none
        // TODO сделать прозрачным
        background: var(--c-brand)
        border-radius: 50%
        color: var(--c-light)
        cursor: pointer
    &__btn-icon
        position: absolute
        left: 25%
        top: 28%
    .icon-plus
        font-size: 1.125rem