//- blocks
include ../../../components/_b-logo/_logo.pug
include ../../../components/_b-btn/_btn.pug
include ../../../components/_b-title/_title.pug
include ../../../components/_b-text/_text.pug

//- parts
include ../../../components/_hero/_hero.pug
include ../../../components/_about-us/_about-us.pug
include ../../../components/_tours/_tours.pug
include ../../../components/_testimonial/_testimonial.pug
include ../../../components/_events/_events.pug
include ../../../components/_contact/_contact.pug
include ../../../components/_footer/_footer.pug

<!DOCTYPE html>
html.no-js(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hiking
    script
        include ../../../assets/js/ie-variables.js
    style
        include ../../../css/style.css
    body
        .wrapper
            block content
        script(src="../node_modules/jquery/dist/jquery.min.js")
        script(src="../node_modules/owl.carousel/dist/owl.carousel.min.js")
        script(src="../node_modules/wow.js/dist/wow.min.js")
        script
            include ../../../assets/js/base.js
            include ../../../assets/js/owl-carousel.js
            include ../../../assets/js/modernizr.js
            include ../../../assets/js/wow.js       