//- blocks
include ../../../components/_b-logo/_logo.pug
include ../../../components/_b-btn/_btn.pug
include ../../../components/_b-title/_title.pug
include ../../../components/_b-text/_text.pug

//- parts
include ../../../components/_hero/_hero.pug
include ../../../components/_about-us/_about-us.pug
include ../../../components/_tours/_tours.pug
include ../../../components/_testimonial/_testimonial.pug
include ../../../components/_events/_events.pug
include ../../../components/_contact/_contact.pug
include ../../../components/_footer/_footer.pug

<!DOCTYPE html>
html.no-js(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hiking
        link(rel="shortcut icon", href="../assets/img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="../css/style.css")

        // preload
        
        link(rel="preload", href="../assets/img/header-bg.webp", as="image", type="image/webp")
        link(rel="preload", href="../assets/fonts/Lato/Lato-Black/lato-black-webfont.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        link(rel="preload", href="../assets/fonts/Lato/Lato-Bold/lato-bold-webfont.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        link(rel="preload", href="../assets/fonts/Lato/Lato-Light/lato-light-webfont.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        link(rel="preload", href="../assets/fonts/PTSans/PTSans-Bold/ptsans-bold-webfont.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        link(rel="preload", href="../assets/fonts/SourceSansPro/SourceSansPro-Regular/sourcesanspro-regular-webfont.woff2", as="font", type="font/woff2", crossorigin="anonymous")
        link(rel="preload", href="../assets/fonts/icomoon/icomoon.ttf?yca2ua", as="font", type="font/ttf", crossorigin="anonymous")
    body
        .wrapper
            block content
        //- libs js
        script(src="../node_modules/jquery/dist/jquery.min.js")
        script(src="../node_modules/object-fit-images/dist/ofi.min.js")
        script(src="../node_modules/owl.carousel/dist/owl.carousel.min.js")
        script(src="../node_modules/wow.js/dist/wow.min.js")
        script(src="../node_modules/magnific-popup/dist/jquery.magnific-popup.min.js")
        script(src="../node_modules/css-vars-ponyfill/dist/css-vars-ponyfill.min.js")
        //- my js
        script(src="../assets/js/base.js")
        script(src="../assets/js/ie-variables.js")
        script(src="../assets/js/owl-carousel.js")
        script(src="../assets/js/wow.js")
        script(src="../assets/js/magnific-popup.js")
        script(src="../assets/js/ofi.js")
        script(src="../assets/js/modernizr.js")