mixin footer(data)
    footer.footer
        .footer__container.container
            small.footer__copy Copyright @ 2018. Hiking Adventure Tour Ltd. Alright reservar.
            span.footer__ps Made with love by Creativo 27 Design Studio.