.footer
    padding: 2.1875rem 0 2.5rem
    background: var(--c-dark-0)
    color: rgba(var(--c-light-rgb), 0.5)
    font-family: "Source Sans Pro"
    font-size: 0.75rem
    line-height: 1.2
    &__container
        max-width: 72.5rem 
        +flex($jc: space-between, $ai: center, $dir: null, $wrap: null, $disp: flex)
    &__copy
        display: inline-block
        margin-right: 1.25rem
        flex: 0 1 auto
    &__ps
        display: inline-block
        flex: 0 1 auto